<footer class="page-footer blue center-on-small-only">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <h5>Information</h5>
              <ul>
                  <li><a href="/about">About</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
              </ul>
            </div>

            <div class="col-md-4">
                <h5>Categories</h5>
                <ul>
                    <li><a href="/categories/data-structures">Data Structures</a></li>
                    <li><a href="/categories/algorithms">Algorithms</a></li>
                    <li><a href="/categories/paradigms">Paradigms</a></li>
                    <li><a href="/categories/software-engineering">Software Engineering</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 <a href="http://ericliu.ca">Eric Liu</a>. All Rights Reserved.</a>
        </div>
    </div>
</footer>
