<footer class="page-footer blue center-on-small-only">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <h5>Information</h5>
              <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Terms and Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
            </div>

            <div class="col-md-4">
                <h5>Categories</h5>
                <ul>
                    <li><a href="#">Algorithms</a></li>
                    <li><a href="#">Data Structures</a></li>
                    <li><a href="#">Paradigms</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Algorithm Helper. All Rights Reserved.</a>
        </div>
    </div>
</footer>
