<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Online educational reference tool for learning about algorithms and data structures.">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:site_name" content="Algorithm Helper">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Algorithm Helper">
  <meta property="og:description" content="Online educational reference tool for learning about algorithms and data structures.">
  <meta property="og:url" content="https://algorithmhelper.com">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Algorithm Helper">
  <meta name="twitter:description" content="Online educational reference tool for learning about algorithms and data structures.">
  <meta name="twitter:url" content="https://algorithmhelper.com">
  <title>Algorithm Helper</title>

  <!-- Bootstrap Compressed and Minified CSS -->
  <link rel="stylesheet" href="css-lib/bootstrap.min.css">
  <!-- Bootstrap Material Design Compressed and Minified CSS -->
  <link rel="stylesheet" href="css-lib/mdb.min.css">
  <!-- Select2 Compressed and Minified CSS -->
  <link rel="stylesheet" href="css-lib/select2.min.css">
  <!-- Algorithm Helper CSS -->
  <link rel="stylesheet" href="css/styles.css">

  <!-- jQuery Compressed and Minified JavaScript -->
  <script type="text/javascript" src="js-lib/jquery-3.1.1.min.js"></script>
  <!-- Tether Compressed and Minified JavaScript -->
  <script type="text/javascript" src="js-lib/tether.min.js"></script>
  <!-- Popper Compressed and Minified JavaScript -->
  <script type="text/javascript" src="js-lib/popper.min.js"></script>
  <!-- Bootstrap Compressed and Minified JavaScript -->
  <script type="text/javascript" src="js-lib/bootstrap.min.js"></script>
</head>
