.footer-container {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

.footer-item {
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  color: #072A60;
}

.footer-item-link {
  text-decoration: none !important;
}

.footer-item-link:hover {
  color: #6a7f9f;
}
