.jumbotron-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30em;
  background-color: transparent;
}

.jumbotron-main-particle-bg {
  position: absolute;
  width: 100%;
  height: 30em;
  background-color: #072a60;
}

.jumbotron-main-text-container {
  margin-left: 1em;
  margin-right: 1em;
}

.jumbotron-main-title {
  text-align: center;
  font-weight: 400;
  font-size: 3em;
  color: #fff;
}

.jumbotron-main-subtitle {
  margin-top: 1.5em;
  text-align: center;
  font-weight: 200;
  font-size: 1em;
  color: #fff;
}
