.main-page-container {
  margin-top: 60px;
  width: 100%;
  overflow-x: hidden;
}

.main-page-jumbotron {
  width: 100%;
  position: relative;
}

.main-page-jumbotron-text-container {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.main-page-jumbotron-title {
  color: #fff;
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 1em;
}

.main-page-jumbotron-subtitle {
  color: #fff;
  font-size: 1.25em;
  font-weight: 200;
}

.main-page-particle-bg {
  background-color: #072a60;
  height: 30em;
}

.main-area-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.main-area-search-bar:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.main-area-card-link {
  text-decoration: none !important;
}

.main-area-card-container {
  margin-top: 2em;
}

.main-area-no-results-container {
  margin-top: 2em;
  text-align: center;
}

.main-area-no-results-title {
  font-weight: 500;
  font-size: 2em;
  color: #424242;
}

.main-area-no-results-subtitle {
  font-weight: 300;
  font-size: 1.25em;
  color: #424242;
}

.main-area-card {
  margin-bottom: 2em;
  border-radius: 1em;
}

.main-area-card:hover {
  opacity: 0.9;
  cursor: pointer;
}

.main-area-card-img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.main-area-card-title {
  color: #fff;
  font-size: 1.75em;
  font-weight: 500;
}

.main-area-card-subtitle {
  color: #fff;
}

.main-area-card-description {
  color: #fff;
  font-weight: 300;
}
