.container-main {
  width: 100%;
  height: 100%;
}

.main-area {
  margin-top: 2em;
  margin-bottom: 4em;
}

.main-area-search-container {
  text-align: center;
}

.main-area-search-form {
  display: inline-block;
  width: 100%;
}

.main-area-search-icon,
.main-area-search-bar {
  font-size: 1.5em;
  white-space: nowrap;
}

.main-area-search-bar {
  font-weight: 400;
}

.main-area-no-results-container {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.main-area-no-results-title {
  font-size: 2em;
  font-weight: 500;
}

.main-area-no-results-subtitle {
  font-weight: 400;
  color: #757575;
}



