.navbar-main {
  background-color: #072A60;
  height: 60px;
}

.navbar-brand-title {
  font-weight: 400;
}

.navbar-link {
  margin-left: 0.5em;
  color: #fff !important;
  font-weight: 400;
}

.navbar-link:hover {
  color: #E0E0E0 !important;
}

.navbar-btn-signup {
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.navbar-search {
  border-color: #1f3f6f;
  background-color: #1f3f6f !important;
  color: #fff !important;
}

.navbar-search:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-search::placeholder {
  color: #fff !important;
}

.navbar-collapse {
  background-color: #072A60 !important;
}
