// TopicItemContainer
.topic-item-container {
  margin-bottom: 4em;
  margin-top: 2em;
  width: 100%;
}

// TopicItemBar
.topic-item-bar-container {
  margin-top: 2em;
}

.topic-item-bar-item {
  display: inline-block;
  margin-right: 0.5em;
}

.topic-item-bar-btn {
  font-size: .75em;
  outline: none;
  box-shadow: none !important;
}

// TopicItemNavBar
.topic-item-navbar-container {
  width: 100%;
}

.topic-item-navbar-item {
  font-weight: 400;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding-bottom: .5em;
  padding-top: .5em;
  cursor: pointer;
}

.topic-item-navbar-item-active {
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

// Spinner container
.topic-item-page-spinner-container {
  margin-top: 3em;
  text-align: center;
  width: 100%;
}

.topic-item-video {
  height: auto;
  width: 100%;
}
