{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "arrow-parens": "off",
    "indent": [2, 2, { "SwitchCase": 1, "VariableDeclarator": 2 }],
    "no-undef": "off",
    "no-restricted-globals": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [0, 2],
    "jsx-a11y/anchor-is-valid": "off"
  }
}
