<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> navbar}}

        <div class="container-fluid main-container">

            <div id="article-main-card-container" class="container main-card-container article-content-container">
                <div class="row markdown-container">
                    <div class="col-md-3"></div>
                    <div id="article-markdown" class="col-md-8">
                        {{{article}}}
                    </div>
                    <div class="col-md-1"></div>
                </div>

                {{#if showTableOfContents}}
                <div id="table-of-contents" class="table-of-contents">
                    <h3>Table of Contents</h3>
                </div>
                {{/if}}
            </div>
        </div>

        {{> footer}}

        <!-- Highlight.js Markdown Code Highlighting JavaScript -->
        <script type="text/javascript" src="/js-lib/highlight.pack.js"></script>
        <!-- Bootstrap Material Design Compressed and Minified JavaScript -->
        <script type="text/javascript" src="/js-lib/mdb.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        <script>
            let articlePath = {{{articlePath}}};
            let articleContent;
        </script>
        <script type="text/javascript" src="/js-es6/article.js"></script>
    </body>
</html>