<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> navbar}}

        <div class="container-fluid main-container">

            <div id="article-main-card-container" class="container main-card-container article-content-container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <h1>Test</h1>
                        <div class="breadcrumbs">
                            <a href="#">Test</a> / <a href="#">Test</a> / <a href="#">Test</a> / <a href="#">Test</a>
                        </div>
                        {{{article}}}
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div class="table-of-contents">
                    <h3>Table of Contents</h3></a>
                    <a href="#test"><h6>Test</h6></a>
                    <a href="#test"><h6>Test</h6></a>
                    <a href="#test"><h6>Test</h6></a>
                    <a href="#test"><h6>Test</h6></a>
                    <a href="#test"><h6>Test</h6></a>
                </div>
            </div>
        </div>

        {{> footer}}

        <!-- Bootstrap Material Design Compressed and Minified JavaScript -->
        <script type="text/javascript" src="/js-lib/mdb.min.js"></script>
        {{!-- <script>
            let topicData = {{{topicData}}};
        </script>
        <script type="text/javascript" src="/js-es6/topic.js"></script> --}}
    </body>
</html>