<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="article-body">
    {{> navbar}}

    <div class="container-fluid categories-main-container">
      <div class="categories-main-card-container container">
        <div class="row categories-main-card-row">
        </div>
      </div>
    </div>

    {{> footer}}

    <!-- Bootstrap Material Design Compressed and Minified JavaScript -->
    <script type="text/javascript" src="js-lib/mdb.min.js"></script>
  </body>
</html>
