<!DOCTYPE html>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        {{> navbar}}

        <div class="container-fluid main-container">
            <div class="main-jumbotron">
                <div class="main-title">
                    <h1 id="topic-title" class="h1-responsive white-text"></h1>
                </div>
            </div>

            <div id="topic-main-card-container" class="container main-card-container">
                
            </div>
        </div>

        {{> footer}}

        <!-- Bootstrap Material Design Compressed and Minified JavaScript -->
        <script type="text/javascript" src="/js-lib/mdb.min.js"></script>
        <script>
            let topicData = {{{topicData}}};
        </script>
        <script type="text/javascript" src="/js-es6/topic.js"></script>
    </body>
</html>