<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body class="index-body">
    {{> navbar}}

    <div class="container-fluid index-main-container">
      <div class="index-main-jumbotron">
          <div class="index-main-title">
            <h1 class="h1-responsive white-text">Learn algorithms and data structures.</h1>
          </div>
          <div class="index-main-desc">
            <p class="white-text">Algorithm Helper is a free educational resource and provides a comprehensive reference tool for learning about algorithms and data structures.</p>
          </div>
      </div>

      <div id="index-main-card-container" class="index-main-card-container container"></div>
    </div>

    {{> footer}}

    <!-- Bootstrap Material Design Compressed and Minified JavaScript -->
    <script type="text/javascript" src="/js-lib/mdb.min.js"></script>
    <script>
        let topicIndex = {{{topicIndex}}};
    </script>
    <script type="text/javascript" src="/js-es6/index.js"></script>
  </body>
</html>
