/* All Pages */
*:focus {
  outline: none;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Navbar */
.navbar {
  border-radius: 0;
}

.navbar-brand:hover {
  color: #e3f2fd !important;
}

/* Container, Card View */
.main-container {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.main-jumbotron-lg {
  width: auto;
  height: 20em;
  margin-top: 0em;
  background-color: #0d47a1;
}

.main-jumbotron {
  width: auto;
  height: 15em;
  margin-top: 0em;
  background-color: #0d47a1;
}

.main-title {
  padding-top: 7em;
  text-align: center;
}

.main-desc {
  margin-top: 2em;
  text-align: center;
}

.main-card-container {
  margin-top: 2em;
  margin-bottom: 5em;
}

.main-card-row {
  margin-bottom: 1em;
}

.card {
  margin-bottom: 1em;
  height: auto;
}

.card-text {
  margin-top: 0.5em;
}

.card-title-lg {
  font-size: 1.25em;
}

.card-tag {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.8em;
  font-weight: 100;
  border-radius: 0.25em;
  margin-right: 0.5em;
  white-space: nowrap;
}

/* Tags */
.tag-data-structures {
  color: #fff;
  background-color: #33b5e5;
}

.tag-algorithms {
  color: #fff;
  background-color: #aa66cc;
}

.tag-paradigms {
  color: #fff;
  background-color: #2bbbad;
}

.tag-software-engineering {
  color: #fff;
  background-color: #607d8b;
}

/* Footer */
footer {
  display: none;
}


/* Article */
.article-content-container {
  margin-top: 6em;
}

.breadcrumbs {
  margin-bottom: 2em;
}

.table-of-contents {
  position: fixed;
  z-index: 99999;
  width: auto;
  height: 25em;
  left: 2em;
  top: 8em;
  padding: 1em;
}

@media all and (max-width: 930px) {
  .table-of-contents {
    display: none;
  }
}

.search-container {
  margin-top: 5em;
}

.highlight {
  font-weight: bold;
  color: #3f3f3f;
}