.dashboard-page-container {
  margin-top: calc(60px + 3em);
}

.dashboard-page-header {
  font-size: 2em;
}

.dashboard-page-progress-container {
  margin-top: 2em;
}

.dashboard-page-progress-header {
  font-size: 1.5em;
  font-weight: 400;
}

.dashboard-page-progress-body {
  margin-top: 0.5em;
}

.dashboard-page-progress-item {
  font-size: 1.25em;
  margin-top: 0.25em;
}

.dashboard-page-bookmarks-container {
  margin-top: 2em;
}

.dashboard-page-bookmarks-header {
  font-size: 1.5em;
  font-weight: 400;
}

.dashboard-page-bookmarks-body {
  margin-top: 1em;
  margin-bottom: 1em;
}

// React Calendar Heatmap
.react-calendar-heatmap {
  padding-top: 0.25em;
}

.react-calendar-heatmap-month-labels {
  font-size: 0.75em;
}

.react-calendar-heatmap .color-empty { fill: #EEEEEE; }
.react-calendar-heatmap .color-scale-1 { fill: #D6E685; }
.react-calendar-heatmap .color-scale-2 { fill: #8CC665; }
.react-calendar-heatmap .color-scale-3 { fill: #44A340; }
.react-calendar-heatmap .color-scale-4 { fill: #1E6823; }

.dashboard-page-bookmarks-item-container {
  margin-bottom: 1em;
  height: 80px;
}

.dashboard-page-bookmarks-item-title {
  font-weight: 400;
}

.dashboard-page-bookmarks-item-subtitle {
  font-weight: 300;
  font-size: 0.75em;
}

.dashboard-page-bookmarks-item-type {
  text-align: center;
}

.dashboard-page-bookmarks-item-delete {
  position: relative;
  text-align: right;
  margin-right: 1em;
  height: 100%;
}

.dashboard-page-bookmarks-item-delete-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
