// Base
$BASE_COLOR: #072A60;
$BASE_COLOR_LIGHT: #6A7F9F;

// Accent
$ACCENT_COLOR: #42A5F5;
$ACCENT_COLOR_LIGHT: #6a7f9f;
$ACCENT_GREY_COLOR: #424242;

// Markdown
$CODE_BG_COLOR: #E0E0E0;
$BLOCKQUOTE_BG_COLOR: #F9F9F9;
$PRE_CODE_BG_COLOR: #282A36;

// Misc
$GREY: #757575;
$GREY_LIGHT: #BDBDBD;
$OUTLINE_COLOR: #CCCCCC;
$WHITE: #FFFFFF;
$NAVLINK_WHITE: #E0E0E0;
$BLACK: #000000;
$ERROR_RED: #C62828;
$DELETE_RED: #D32F2F;
