$COLOR_0: #072A60;
$COLOR_1: #33B5E5;
$COLOR_2: #AA66CC;
$COLOR_3: #81C784;
$COLOR_4: #F06292;
$COLOR_5: #7986CB;
$COLOR_6: #4DB6AC;
$COLOR_7: #FFB74D;
$COLOR_8: #E57373;
$COLOR_9: #90A4AE;

// Color 0
.pill-color-0 {
  background-color: $COLOR_0;
  color: #fff;
}

.color-0, .color-0 a {
  color: $COLOR_0;
}

.bg-0 {
  background-color: $COLOR_0;
}

// Color 1
.pill-color-1 {
  background-color: $COLOR_1;
  color: #fff;
}

.color-1, .color-1 a {
  color: $COLOR_1;
}

.bg-1 {
  background-color: $COLOR_1;
}

// Color 2
.pill-color-2 {
  background-color: $COLOR_2;
  color: #fff;
}

.color-2, .color-2 a {
  color: $COLOR_2;
}

.bg-2 {
  background-color: $COLOR_2;
}

// Color 3
.pill-color-3 {
  background-color: $COLOR_3;
  color: #fff;
}

.color-3, .color-3 a {
  color: $COLOR_3;
}

.bg-3 {
  background-color: $COLOR_3;
}

// Color 4
.pill-color-4 {
  background-color: $COLOR_4;
  color: #fff;
}

.color-4, .color-4 a {
  color: $COLOR_4;
}

.bg-4 {
  background-color: $COLOR_4;
}

// Color 5
.pill-color-5 {
  background-color: $COLOR_5;
  color: #fff;
}

.color-5, .color-5 a {
  color: $COLOR_5;
}

.bg-5 {
  background-color: $COLOR_5;
}

// Color 6
.pill-color-6 {
  background-color: $COLOR_6;
  color: #fff;
}

.color-6, .color-6 a {
  color: $COLOR_6;
}

.bg-6 {
  background-color: $COLOR_6;
}

// Color 7
.pill-color-7 {
  background-color: $COLOR_7;
  color: #fff;
}

.color-7, .color-7 a {
  color: $COLOR_7;
}

.bg-7 {
  background-color: $COLOR_7;
}

// Color 8
.pill-color-8 {
  background-color: $COLOR_8;
  color: #fff;
}

.color-8, .color-8 a {
  color: $COLOR_8;
}

.bg-8 {
  background-color: $COLOR_8;
}

// Color 9
.pill-color-9 {
  background-color: $COLOR_9;
  color: #fff;
}

.color-9, .color-9 a {
  color: $COLOR_9;
}

.bg-9 {
  background-color: $COLOR_9;
}

// Color White
.pill-color-white {
  background-color: #fff;
  color: #000;
}

.color-white, .color-white a {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}
