$BASE_COLOR: #072A60;
$BASE_COLOR_LIGHT: #6A7F9F;
$ACCENT_COLOR: #42A5F5;
$ACCENT_COLOR_LIGHT: #6a7f9f;
$ACCENT_GREY_COLOR: #424242;
$GREY: #757575;
$GREY_LIGHT: #BDBDBD;
$OUTLINE_COLOR: #CCCCCC;
$WHITE: #FFFFFF;
$NAVLINK_WHITE: #E0E0E0;
$BLACK: #000000;
$ERROR_RED: #C62828;
